{% extends 'base.html.twig' %}

{% block main %}
    <div class="container">
        {% include 'project/_header.html.twig' %}

        <h2 class="mb-3"><small>{{ 'title.issues'|trans }}</small></h2>

        <div class="table-responsive">
            <table class="table table-sm">
                <caption>{{ 'title.issues_list' }}</caption>
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">{{ 'label.subject'|trans }}</th>
                        <th scope="col">{{ 'label.description'|trans }}</th>
                        <th scope="col">{{ 'label.done_ratio'|trans }}</th>
                        <th scope="col">{{ 'label.updated'|trans }}</th>
                        <th scope="col">{{ 'label.actions'|trans }}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for issue in issues.currentPageResults %}
                        <tr>
                            <th scope="row">{{ issue.id }}</th>
                            <td>{{ issue.subject }}</td>
                            <td>{{ issue.description }}</td>
                            <td>{{ issue.doneRatio }}%</td>
                            <td>{{ issue.updatedOn|date() }}</td>
                            <td>
                                <div class="btn-group">
                                    <a class="btn btn-default btn-sm" href="{{ path('issue_time_entry_new', {'id': issue.id}) }}">{{ 'action.log_time'|trans }}</a>
                                </div>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="7">{{ 'issue.no_issues_found'|trans }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        {% if issues.haveToPaginate %}
            <div>
                {{ pagerfanta(issues, 'twitter_bootstrap4', {routeName: 'project_issue_index_paginated', 'routeParams': { 'identifier': project.identifier}}) }}
            </div>
        {% endif %}
    </div>
{% endblock %}
